@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

.comment {
  margin: 0;

  &__container {
    display: flex;
    border-bottom: 1px solid $mercury;
    margin-bottom: -0.06rem;
    position: relative;

    @include tablet {
      padding: 0;
      margin-bottom: 0;
    }

    @include desktop {
      padding: 0 1vw;
      border-bottom: none;
      border-top: 1px solid $mercury;
    }
  }

  &__image-placeholder {
    border-radius: 50%;
    background-color: $mercury;
    width: 2.25rem;
    height: 2.25rem;
    margin-top: 4.5vw;

    @include tablet {
      padding: 0 1vw;
      margin-top: 3vw;
      width: 2.5rem;
      height: 2.5rem;
    }

    @include desktop {
      margin-top: 2vw;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    width: 88%;

    @include tablet {
      padding: 0;
      width: 100%;
    }
  }

  &__heading {
    font-family: avenir;
    font-weight: 600;
    font-size: 0.8rem;
    padding-left: 5vw;
    margin: 4.5vw 0 0 0;

    @include tablet {
      font-size: 0.85rem;
      margin-top: 2.6vw;
      padding: 0.8vw 0 0 2.4vw;
    }

    @include desktop {
      margin-top: 2vw;
      padding: 0 0 0 2.8vw;
    }
  }

  &__date {
    color: $silver;
    position: absolute;
    right: 0;
    font-size: 0.8rem;
    margin-bottom: 0vw;

    @include tablet {
      padding: 1.5vw 0 0 0;
      font-size: 0.85rem;
    }

    @include desktop {
      margin-top: 2vw;
      padding: 0 2vw 0 0;
    }
  }

  &__comment {
    font-size: 0.8rem;
    line-height: 1.4;
    margin: 0;
    padding: 2.5vw 0 4.2vw 4.5vw;

    @include tablet {
      font-size: 0.87rem;
      padding: 0.9vw 0 2.8vw 2.6vw;
      line-height: 1.6;
    }

    @include desktop {
      padding: 0.5vw 1vw 1.75vw 2.8vw;
    }
  }

  @include tablet {
    padding: 0;
  }
}
