@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.searchbar {

    &__icon-container {
        width: 82%;
        background-color: $alabaster;
        height: 2.25rem;
        border-radius: 4px;
        border: $mercury 1px solid;
        margin: 4vw 0;
        display: flex;
        position: relative;
    }

    &__search-icon {
        width: 1rem;
        margin: 0 2vw 0 3vw;
    }

    &__input {
        border: none;
        background-color: $alabaster;

        &::placeholder {
            font-size: 0.71rem;
        }
    }

    &__avatar {
        border-radius: 50%;
        width: 2.25rem;
        height: 2.25rem;
        position: absolute;
        right: 5vw;
        top: 16vw;
    }
}