@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.searchbar {
    position: relative;

    @include tablet {
        width: 70%;
        display: flex;
        padding: 0;
    }

    &__container {
        @include tablet {
            width: auto;
            padding: 0;
            margin-left: 1vw;
        }
    }

    &__icon-container {
        width: 82%;
        background-color: $alabaster;
        height: 2.25rem;
        border-radius: 4px;
        border: $mercury 1px solid;
        margin: 4vw 0 4.5vw 0;
        display: flex;   

        @include tablet {
            width: 100%;
            margin: 2vw 0 0 0;
            height: 2.5rem;
            padding: 0 8vw 0 0;
        }
    }

    &__search-icon {
        width: 1rem;
        margin: 0 2vw 0 3vw;

        @include tablet {
            margin: 0 0.5vw 0 2vw;
            padding: 0;
        }
    }

    &__input {
        width: 100%;
        border: none;
        background-color: $alabaster;

        &::placeholder {
            font-size: 0.71rem;
            color: $brainflix-black;
        }
    }

    &__upload-container {
        @include tablet {
            margin-left: 3vw;
            padding-left: 0.7vw;
        }
    }

    &__avatar {
        border-radius: 50%;
        width: 2.25rem;
        height: 2.25rem;
        object-fit: cover;
        position: absolute;
        right: 0;
        top: 4vw;

        @include tablet {
            padding: 0;
            width: 2.5rem;
            height: 2.5rem;
            right: 0;
            top: 2vw;
        }
    }

}