@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.header{
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__logo-container {
        padding-top: 0.8rem;
    }
    @include tablet {

    }
   
}