@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;

.details {
    @include page-padding;

    &__heading {
        margin: 5vw 0 0 0;
        font-weight: 700;
        font-size: 1.45rem;
        line-height: 1.35;
        padding-bottom: 5vw;
        border-bottom: 1px solid $mercury;
    }

    &__container {
        display: flex;
        column-gap: 4.8rem;
        padding-bottom: 1.4vw;
        border-bottom: 1px solid $mercury;
    }

    &__subcontainer-left {
        padding-top: 0.25rem;
    }

    &__subcontainer-right {
        padding-top: 0.25rem;
        
    }

    &__subheading {
        font-size: 0.8rem;
    }

    &__date, &__number {
        font-size: 0.8rem;
        color: $silver;
    }

    &__views-container, &__likes-container {
        display: flex;
        column-gap: 0.6rem;
    }

    &__likes-container {
        margin-top: -0.7rem;
    }

    &__description-container {
        padding-top: 1vw;
    }

    &__description {
        font-size: 0.805rem;
        line-height: 1.4;
    }
}